/* attendance用css記述 */

.main {
    box-sizing: border-box;
    background-color: #DCDCDC;
    width: 100%;
    height: 93vh;
    padding-top: 5%;
}

.day_button_position {
  display: flex;
  justify-content: center;
}

.day_button {
  border-color: blue;
  color: blue;
  margin: 2% 4%;
  font-size: larger;
}

.date {
  margin-top: 2%;
  font-size: x-large;
}

.table {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.table_text {
  font-size: larger;
}