/* attendance用css記述 */

.main {
  box-sizing: border-box;
  background-color: #DCDCDC;
  width: 100%;
  height: 93vh;
  padding-top: 5%;
}

.day_button_position {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.day_button {
  border-color: blue;
  color: blue;
  margin: 2% 4%;
  font-size: larger;
}

.date {
  margin-top: 2%;
  font-size: x-large;
}

.table {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.table_text {
  font-size: x-large;
  padding: 50px 100px 50px;
}

.attendance_text {
  font-size: large;
  padding: 50px 100px 50px;
}

tr::before {
  content: "";
  display: block;
  width: 90%;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 10px;
  left: 75px;
}